body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  
  /* TODO: Add CSS for the rest of your solution below */

  .redExample2 {
    width: 80px;
    background-color: red;
  }

  .blueExample3 {
    width: 80px;
    background-color: blue;
  }
  .wrapper1 {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
    justify-content: space-between;
  }

.redBoxy {
  background-color: red;
  width: 50px;
  height: 50px;
  margin: auto;
}
.wrapper2 {
  display: flex;
  background-color: red;
}

.blueExample4 {
  width: 80px;
  height: 60px;
  background-color: blue;
  margin: auto;
}

.wrapper3 {
  display: flex;
  height: 60px;
  background-color: blue;
  align-items: center;
}

.greenExample {
  height: 20px;
  background-color: green;
  margin: auto;
}


.child {
  flex: 1;
  background-color: orange;
}

.wrapper .child:nth-child(odd){
  background-color: orange;
  width: 80px;
  max-width: 80px;
}

.wrapper .child:nth-child(even){
  background-color: green;
  flex:2;
}

.child2 {
  flex: 1;
  background-color: orange;
}

.wrapper .child2:nth-child(odd){
  background-color: orange;
flex:0.5;
}

.wrapper .child2:nth-child(even){
  background-color: green;
  width: 20px;
  max-width: 20px;
}