@import url(https://fonts.google.com/specimen/Kanit);

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.left_header{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.right_header{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.not_active {
    border: 0;
    background-color: transparent;
    margin-right: 1;
}

.logo{
    font-weight: 500;
    font-family: Kanit;
}

.active{
    background-color: #081E341F;
    border: 0;
    padding: 10px, 12px, 10px, 12px;
    border-radius: 100px;
}

.container {
    width: 100%;
    padding: 100px 80px 100px 80px;
}